:root {
  --gray-text: #495057;
  --primary-color: #13e2eb;
}

// logo
.logo {
  display: flex;
  align-items: center;
  gap: Max(0.5em, 1vw);

  &--icon {
    margin-top: -1rem;
    width: 4rem;
    height: 4rem;
    color: var(--primary-color);
  }
  &--header {
    font-family: "DynaPuff", cursive;
    font-size: 2.2rem;
  }
}

// login
.login {
  display: flex;
  align-items: center;
  gap: Min(0.5em, 1rem);
  &--box {
    letter-spacing: 0.6px;
    width: 15rem;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    background-color: rgba(255, 255, 255, 0.404);
  }
  &--box::placeholder {
    font-size: 1.2rem;
  }
  &--box:focus-within,
  .submit--icon:focus-within {
    outline: none;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  }
  .submit {
    &--icon {
      width: 1.4rem;
      height: 1.4rem;
      background-color: rgba(255, 255, 255, 0.13);
      border-radius: 50%;
      padding: 0.5em;
      color: var(--primary-color);
      background-color: #fff;
    }
  }
}

// intro
.intro {
  display: flex;
  justify-content: space-between;
  &--welcome {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
  .balance {
    display: flex;
    align-items: center;
    gap: 1vw;
  }
  .balance-box {
    font-size: 2.4rem;
    font-weight: 400;
  }
}

// functions
.operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.function {
  text-align: center;
  width: 60%;
  background-color: #b18f8f;
  padding: 1em 0;
  border-radius: 0.5em;

  &--1 {
    background-image: linear-gradient(
      to bottom right,
      #16d622,
      #17c922,
      #17bc22,
      #18b022,
      #18a321
    );
  }
  &--2 {
    background-image: linear-gradient(
      to bottom right,
      #f27532,
      #f06e2a,
      #ed6721,
      #eb6018,
      #e8590c
    );
  }
  &--3 {
    background-image: linear-gradient(
      to bottom right,
      #a71ff4,
      #9f1de9,
      #981bde,
      #9019d4,
      #8917c9
    );
  }

  .btn {
    margin-top: 0.5em;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    background-color: rgba(255, 255, 255, 0.74);
  }
  .btn:hover,
  .btn:focus-within {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    .input--box {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.226);
      padding: 0.6em 0.5em;
      text-align: center;
      border-radius: 0.5em;
      border: none;
    }
    .input--box:focus-within {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
    }
    .input--box::placeholder {
      color: rgba(255, 255, 255, 0.555);
    }
  }
}

// history
.history {
  display: flex;
  flex-direction: column;
}
.transactions {
  border-radius: 0.5em;
  padding: 1vw 0.5vw;
  background-color: #f1f3f5;
  height: 40rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  font-size: 1.7rem;

  .transaction {
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1em 1.5em;

    &:not(:last-child) {
      margin-bottom: 1vw;
    }
    .reason {
      padding: 0.2em 0.5em;
      border-radius: 0.5em;
      color: #fff;
      font-size: 1.2rem;
    }
    .withdraw {
      background-color: #e03131;
    }
    .deposit {
      background-color: #18b022;
    }
  }
}
.full-history {
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 2vw;
  font-size: 2.2rem;
  font-weight: 300;
}
.progress {
  display: flex;
  align-items: center;
}
.in {
  color: #18a321;
}
.out {
  color: #e03131;
}
