.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  grid-template-rows: repeat(2, min-content) 1fr;
  row-gap: 1rem;
}
.header {
  background-color: #ced4da;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.invisible {
  visibility: hidden !important;
  pointer-events: none !important;
  opacity: 0 !important;
}

.header + .intro.invisible {
}

.intro {
  margin-top: 2rem;

  grid-column: 1/-1;
}
.operations {
}
.history {
}
.heading-light {
  color: #fff;
  font-weight: 400;
}
